body, html{
	height: 100%;
	background: #FFCCFF;
	font-family: Helvetica,Arial,sans-serif;

}
		/*CABEÇALHO*/
.alinhamento-banner{
	display: flex !important;
	justify-content: center !important;
}
		/*MENU*/
.menu{
	background-color: #FF66FF;
	background: rgba(255,102,255,0.6);
	margin-top: 20px;
	height: 60px;
	padding: 5px 0px 0px 0px;
		
}
.nav{
	display: flex !important;
	justify-content: center !important;
	width: 100%;
}

		/*CONTEUDO*/
.area-conteudo{

	background: white;
	margin-top: 160px;
	height: 100%;
}
.img-paty{
	height: 400px;
	width: 300px;
	float: left;
	margin: 20px
}


		/*LINKS*/
a{
	color: black;
	text-decoration: none;
	
}
		/*links não visitados*/
h1,h4 a:link{
	text-decoration: none;
}
		/*links visitados*/
h1,h4 a:visited{
	text-decoration: none;
}
		/*links hover*/
h1,h4 a:hover{
	color: black;
	text-decoration: none;

}
	
		/*links active*/
h1,h4 a:active{
	text-decoration: none;
}
li a{
	font-size: 23px;
	color: black;
	
}
/*RODAPE*/
#rodape{
	background-color: #FF66FF;
}
#icone-whatsapp{
	width: 50px;
	height: 50px;
}
#icone-facebook{
	width: 72px;
	height: 50px;	
}

/*TIPOGRAFIA*/
p{
	margin-top: 10px;
}


header h1{
	font-size: 70px;
	margin-bottom: 0px;
	
}
header h4{
	font-size: 17px;
	margin-top: 0px;
	
}