body, html{
	height: 100%;
	background: #FFCCFF;
	font-family: Helvetica,Arial,sans-serif;

}

.menu{
	background-color: #FF66FF;
	background: rgba(255,102,255,0.6);
	margin-top: 100px;
	height: 60px;
	padding: 5px 0px 0px 0px;
		
}
.nav{
	display: flex !important;
	justify-content: center !important;
	width: 100%;
}
.area-conteudo{

	background: white;
	margin-top: 160px;
	height: 100%;
}
.img-paty{
	height: 400px;
	width: 300px;
	float: left;
	margin: 20px
}

a{
	
}
li a{
	font-size: 23px;
	color: black;
	text-decoration: none;
	
}
/*TIPOGRAFIA*/
p{
	margin-top: 10px;
}